<div class="board">
    <ol class="even">
        <li class='hex spacer'></li>
        <li class='hex water'></li>
        <li class='hex water'></li>
        <li class='hex water'></li>
        <li class='hex water'></li>
    </ol>
    <ol class="odd">
        <li class='hex spacer'></li>
        <li class='hex water'></li>
        <app-hex *ngFor="let hex of firstRowHexes" [hex]="hex"></app-hex>
        <li class='hex water'></li>
    </ol>
    <ol class="even">
        <li class='hex water'></li>
        <app-hex *ngFor="let hex of secondRowHexes" [hex]="hex"></app-hex>
        <li class='hex water'></li>
    </ol>
    <ol class="odd">
        <li class='hex water'></li>
        <app-hex *ngFor="let hex of thirdRowHexes" [hex]="hex"></app-hex>
        <li class='hex water'></li>
    </ol>
    <ol class="even">
        <li class='hex water'></li>
        <app-hex *ngFor="let hex of fourthRowHexes" [hex]="hex"></app-hex>
        <li class='hex water'></li>
    </ol>
    <ol class="odd">
        <li class='hex spacer'></li>
        <li class='hex water'></li>
        <app-hex *ngFor="let hex of fifthRowHexes" [hex]="hex"></app-hex>
        <li class='hex water'></li>
    </ol>
    <ol class="even">
        <li class='hex spacer'></li>
        <li class='hex water'></li>
        <li class='hex water'>
            <div class='harbor two-one any'>
                <div class='harbor-piece tr'></div>
            </div>
        </li>
        <li class='hex water'></li>
        <li class='hex water'>
            <div class='harbor three-one Wood'>
                <div class='harbor-piece tl'></div>
            </div>
        </li>
    </ol>
</div>
<div class="board" style="display: none;">
    
    <ol class="even">
        <li class='hex spacer'></li>
        <li class='hex water'></li>
        <li class='hex water'>
            <div class='harbor two-one Wood'>
                <div class='harbor-piece br'></div>
            </div>
        </li>
        <li class='hex water'></li>
        <li class='hex water'>
            <div class='harbor three-one Wood'>
                <div class='harbor-piece bl'></div>
            </div>
        </li>
    </ol>

    <ol class="odd">
        <li class='hex spacer'></li>
        <li class='hex water'>
            <div class='harbor three-one Sheep'>
                <div class='harbor-piece br'></div>
            </div>
        </li>
        <li class='hex Wheat'>
            <div class='number two'></div>
            <div class='road tr'></div>
            <div class='road l'></div>
            <div class='road tl'></div>
        </li>
        <li class='hex Wood'>
            <div class='number three'></div>
            <div class='road tl'></div>
            <div class='road l'></div>
            <div class='road tr'></div>
        </li>
        <li class='hex Wheat'>
            <div class='number three'></div>
            <div class='road tl'></div>
            <div class='road tr'></div>

        </li>
        <li class='hex water'></li>
    </ol>

    <ol class="even">
        <li class='hex water'></li>
        <li class='hex Ore'>
            <div class='number four'></div>
            <div class='road tr'></div>
        </li>
        <li class='hex Sheep'>
            <div class='number four'></div>
            <div class='house t blue'></div>
            <div class='house tr blue'></div>
            <div class='house tl blue'></div>
            <div class='house b blue'></div>
            <div class='house br blue'></div>
            <div class='house bl blue'></div>
        </li>
        <li class='hex Wood'>
            <div class='number five'></div>
        </li>
        <li class='hex Sheep'>
            <div class='number five'></div>
            <div class='house t blue'></div>
            <div class='house tr blue'></div>
            <div class='house tl blue'></div>
            <div class='house b blue'></div>
            <div class='house br blue'></div>
            <div class='house bl blue'></div>
        </li>
        <li class='hex water'>
            <div class='harbor three-one Brick'>
                <div class='harbor-piece l'></div>
            </div>
        </li>
    </ol>

    <ol class="odd">
        <li class='hex water'>
            <div class='harbor three-one Sheep'>
                <div class='harbor-piece r'></div>
            </div>
        </li>
        <li class='hex Sheep'>
            <div class='number six'></div>
        </li>
        <li class='hex Wheat'>
            <div class='number six'></div>
        </li>
        <li class='hex Wood'>
            <div class='number eight robber'></div>
        </li>
        <li class='hex Brick'>
            <div class='number eight'></div>
        </li>
        <li class='hex Brick'>
            <div class='number nine'></div>
        </li>
        <li class='hex water'>

        </li>
    </ol>
    <ol class="even">
        <li class='hex water'></li>
        <li class='hex Ore'>
            <!-- ROAD TARGETS -->
            <div class='road target tr'></div>
            <div class='road target l'></div>
            <div class='road target tl'></div>
            <div class='number nine'></div>
        </li>
        <li class='hex Brick'>
            <div class='number ten'></div>
        </li>
        <li class='hex Wood'>
            <!-- HOUSE TARGETS -->
            <div class='house t target'></div>
            <div class='number ten'></div>
        </li>
        <li class='hex Sheep'>
            <div class='number eleven'></div>
            <div class='city t blue'></div>
        </li>
        <li class='hex water'>
            <div class='harbor three-one Brick'>
                <div class='harbor-piece l'></div>
            </div>
        </li>
    </ol>
    <ol class="odd">
        <li class='hex spacer'></li>
        <li class='hex water'>
            <div class='harbor two-one any'>
                <div class='harbor-piece tr'></div>
            </div>
        </li>
        <li class='hex Desert'></li>
        <li class='hex Ore'>
            <div class='number twelve'></div>
        </li>
        <li class='hex Wheat'>
            <div class='number eight'></div>
        </li>
        <li class='hex water'><div class='city tl red'></div></li>
    </ol>
    <ol class="even">
        <li class='hex spacer'></li>
        <li class='hex water'></li>
        <li class='hex water'>
            <div class='harbor two-one any'>
                <div class='harbor-piece tr'></div>
            </div>
        </li>
        <li class='hex water'></li>
        <li class='hex water'>
            <div class='harbor three-one Wood'>
                <div class='harbor-piece tl'></div>
            </div>
        </li>
    </ol>
</div>